<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Display Picture</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <p>
    <ion-button type="button" expand="block" color="success" (click)="choosePicture()">Choose Picture to upload</ion-button>
  </p>
  <ion-img [src]="picture"></ion-img>
  <ion-button type="button" [hidden]="!isUpload" expand="block" color="primary" (click)="uploadPicture()"> Upload Picture </ion-button>    
</ion-content>