 #loginForm {
    .login-top-style{
        padding: 250px 15px 15px 0px;
        background-image: url('/assets/img/misc/consulting.jpg');
        background-size: cover;
        width: auto;
        height: auto;
    }       
 }