<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form (ngSubmit)="changePassword()" #passwordForm="ngForm">
    <ion-item>
      <ion-input type="password" placeholder="Old Password" [(ngModel)]="user.oldPassword" name="oldPassword" maxlength=20
        minlength=6 required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="New Password" [(ngModel)]="user.newPassword" name="newPassword" maxlength=20
        minlength=6 required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="Confirm Password" [(ngModel)]="user.confirmPassword" name="confirmPassword"
        maxlength=20 minlength=6 required></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block" [disabled]="!passwordForm.form.valid">Change Password</ion-button>
  </form>
</ion-content>