<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let notification of userNotifications">
    <ion-img src="/assets/img/misc/notification.jpg"></ion-img>
    <ion-card-header>
      {{notification.category.key}}
    </ion-card-header>
    <ion-card-content>
      {{notification.content}}
    </ion-card-content>
  </ion-card>
</ion-content>